<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cloudfront invalidations</title>
</head>
<body>

<form class="form-horizontal", action="resultid", method="post">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Cloudfront invalidations</legend>
    
    <!-- Text input-->
    <div class="form-group">
      GET ID
      <div class="col-md-4">
      <input id="txtId" name="txtId" type="text" class="form-control input-md">
      </div>
    </div>
    <br/>
        
    <!-- Button -->
    <div class="form-group">
        <br>
      <div class="col-md-4">
        <button type="submit">Submit</button>
      </div>
    </div>
    
    </fieldset>
    </form>
    
</body>