<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cloudfront invalidations</title>
</head>
<body>

<form class="form-horizontal", action="submit_invalidation", method="post">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Cloudfront invalidations</legend>
    
    <!-- Text input-->
    <!-- <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Quantity</label>  
      <div class="col-md-4">
      <input id="txtQty" name="txtQty" type="text" placeholder="total URL" class="form-control input-md">
      </div>
    </div>
    <br/> -->
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">List URL</label>
      <div class="col-md-4">                     
        <input class="form-control" id="txtUrl" name="txtUrl" type="text" size="100"></textarea>
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
        <br>
      <div class="col-md-4">
        <button type="submit">Clear Cache</button>
      </div>
    </div>
    
    </fieldset>
    </form>
    
</body>